/* font-family: 'Roboto', sans-serif; */


/* global */

body {
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.padding-top {
    padding-top: 80px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.list-inline {
    display: inline;
}

.button {
    padding: 5px;
    border: 1px solid rgb(87, 154, 255);
    border-radius: 3px;
}

.button-white {
    padding: 5px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.color-blue {
    color: rgb(0, 165, 255);
}

.font-w-5 {
    font-weight: 500;
}

.font-w-7 {
    font-weight: 700;
}

.text-decoration-none {
    text-decoration: none;
}


/* header */

#nav {
    width: 100%;
    height: 80px;
    line-height: 80px;
}

#nav .left img {
    width: 150px;
}

.list-inline a {
    color: black;
    text-decoration: none;
}

.list-inline li .button {
    color: rgb(0, 165, 255);
}


/* /header */


/* main */


/* first section */

#first-section {
    width: 100%;
    background-color: blue;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
}

#first-section .left {
    height: 450px;
    color: white;
}

#first-section .left h1 {
    font-size: 58px;
}

#first-section .left p {
    font-size: 20px;
}


/* right */

#first-section .right {
    height: 450px;
    margin: auto;
}

#first-section .right .account {
    padding: 20px 10px 15px;
    border-radius: 5px;
    background-color: white;
}

#first-section .right .account p {
    font-size: 30px;
    font-weight: 500;
    padding: 0 10px 1px 10px;
}

.right .account ul li {
    list-style: none;
    margin-bottom: 8px;
}

#first-section .right .account input {
    width: 100%;
}

.right .account .button {
    border: none;
    background-color: rgb(87, 154, 255);
}

.right .account .button a {
    color: white;
    text-decoration: none;
}

.right .account .button-white {
    position: relative;
    text-decoration: none;
    color: black;
}

.right .account .button-white .google img {
    position: absolute;
    width: 20px;
    left: 10px;
}

.right .account .button-white .google {
    text-decoration: none;
    color: gray;
}

.right .account .text {
    font-size: 12px;
    padding-top: 7px;
}

.right .account .text a {
    text-decoration: underline;
}


/* second section */

#second-section {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    background-color: rgb(243, 245, 249);
}

#second-section .text-top {
    padding: 30px 0;
    text-transform: uppercase;
    color: rgb(111, 123, 151);
}


/* third section */

#third-section {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(92, 106, 136);
}

#third-section .text h2 {
    font-size: 35px;
    color: black;
}

#third-section .text p {
    font-size: 22px;
}

#third-section .left .box ul li {
    font-size: 22px;
    list-style: none;
    line-height: 30px;
    padding-left: 8px;
    border-left: 1px solid gray;
}

#third-section .box {
    height: 200px;
    padding-right: 100px;
}

#third-section .box img {
    width: 50px;
    padding-bottom: 5px;
}

#third-section .right .box h4 {
    font-weight: 500;
    color: black;
}


/* fourth section */

#fourth-section {
    width: 100%;
    height: 400px;
    background-color: rgb(243, 245, 249);
}

#fourth-section .box {
    width: 50%;
    height: 350px;
    margin: auto;
    background-color: blue;
}


/* fifth section */

#fifth-section {
    width: 100%;
    height: 300px;
}

#fifth-section .box {
    height: 200px;
    border: 1px solid white;
    background-color: violet;
}


/* sixth section */

#sixth-section {
    width: 100%;
    height: 300px;
    background-color: blue;
}

#sixth-section .box {
    height: 230px;
    border: 1px solid white;
    background-color: red;
}


/* seventh section */

#seventh-section {
    width: 100%;
    height: 400px;
    background-color: rgb(243, 245, 249);
}

#seventh-section .box {
    width: 50%;
    height: 350px;
    margin: auto;
    background-color: green;
}


/* /main */


/* footer */


/* footer top */

#footer-top {
    width: 100%;
    height: 150px;
    color: white;
    background-color: rgb(0, 43, 165);
}


/* footer bottom */

#footer-bottom {
    width: 100%;
    height: 400px;
    color: white;
    background-color: rgb(3, 28, 78);
}

#footer-bottom .left .box {
    height: 100px;
    background-color: blue;
}

#footer-bottom .right .box {
    height: 300px;
    border: 1px solid white;
    background-color: red;
}


/* /footer */


/* media querry */

@media screen and (max-width: 767px) {
    /* first section */
    #first-section {
        height: 710px;
    }
    #first-section .left {
        padding-top: 50px;
        height: 280px;
    }
    #first-section .right {
        height: 370px;
    }
    #first-section .left h1 {
        font-size: 32px;
    }
    #first-section .left p {
        font-size: 19px;
    }
    /* second section */
    #second-section .list-inline li {
        width: calc(100% / 3);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* first section */
    #first-section .left h1 {
        font-size: 40px;
    }
    /* second section */
    #second-section .list-inline li {
        width: calc(100% / 7);
    }
}

@media screen and (min-width: 992px) and (max-width: 1169px) {
    /* first section */
    #first-section .left h1 {
        font-size: 50px;
    }
    /* second section */
    #second-section .list-inline li {
        width: calc(100% / 7);
    }
}

@media screen and (min-width: 1170px) {
    /* first section */
    #first-section .left h1 {
        font-size: 58px;
    }
    /* second section */
    #second-section .list-inline li {
        width: calc(100% / 7);
    }
}